#!/bin/bash
lxc launch images:archlinux/current {{{containerName}}}
# create the directories if they donot exist
mkdir -p /home/{{{userName}}}/container-data/{{{containerName}}}/readonly
mkdir -p /home/{{{userName}}}/container-data/{{{containerName}}}/writable
chmod 777 /home/{{{userName}}}/container-data/{{{containerName}}}/writable 
# add directories as disk devices
lxc config device add {{{containerName}}} {{{readonlyDiskName}}} disk source=/home/{{{userName}}}/container-data/{{{containerName}}}/readonly path={{{readonlyDirectory}}}
lxc config device add {{{containerName}}} {{{writableDiskName}}} disk source=/home/{{{userName}}}/container-data/{{{containerName}}}/writable path={{{writableDirectory}}}
# provide authorized public key
echo "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBW7ep4Xt7PaWVoAKN2IggZiS6zAmqU2GLC7ZCB/f6Vn lenny@nova" > /home/{{{userName}}}/container-data/{{{containerName}}}/readonly/authorized_keys
# copy the script into the container
cp scripts/{{{scriptName}}}.sh ~/container-data/{{{containerName}}}/readonly/
# execute the script
lxc exec {{{containerName}}} -- /readonly/{{{scriptName}}}.sh
