#!/bin/bash
cat {{{targetScriptName}}}/* > mustaches/{{{targetScriptName}}}.mustache
mustache data/{{{targetScriptName}}}.json mustaches/{{{targetScriptName}}}.mustache > scripts/{{{targetScriptName}}}.sh
chmod +x scripts/*
